<!-- tic-tac-toe.component.html -->

<div class="tic-tac-toe-container">
  <div class="characters">
    <app-character [character]="leftCharacter" [characterPlayerStatic]="characterPlayerStatic === 'X' ? 'X' : 'O'" class="app-character"></app-character>
    <app-character [character]="rightCharacter" [characterPlayerStatic]="characterPlayerStatic === 'X' ? 'O' : 'X'"></app-character>
  </div>
  <h2 class="game-title">Jogo da Velha</h2>
  <div class="game-board">
    <div
      *ngFor="let cell of board; let i = index"
      class="game-cell"
      [class.winner]="checkWinner() === currentPlayer && cell === currentPlayer"
      (click)="makeMove(i)"
    >
      {{ cell }}
    </div>
  </div>
  <div class="win-counters">
    <h2 class="game-title">Placar de vencedores</h2>
    <app-win-counters [character]="leftCharacter" [playerWin]="playerWins[characterPlayerStatic === 'X' ? 'X' : 'O']"></app-win-counters>
    <app-win-counters [character]="rightCharacter" [playerWin]="playerWins[characterPlayerStatic === 'X' ? 'O' : 'X']"></app-win-counters>
  </div>
  <div class="game-status" *ngIf="checkWinner()">
    <span *ngIf="checkWinner() === 'tie'; else winner">Empate!</span>
    <ng-template #winner>{{ checkWinner() }} Venceu!</ng-template>
  </div>
  <div>
    <button class="back-button" (click)="backChampions()">Voltar</button>
    <button class="restart-button" (click)="resetGame()">Reiniciar Jogo</button>
  </div>
</div>
