.flipperama-container {
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin: 0 auto;
}
.app-title{
  padding-bottom: 60px;
}
