.flipperama-container {
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Press Start 2P', cursive; // Usando uma fonte que lembra as telas de fliperama
  margin: 0 auto;
}
